<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - MyKursach</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper/dist/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/styleForTable.css">
    <link rel="stylesheet" href="~/css/styleForParamWorkers.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <a asp-controller="Home" asp-action="Index">
                <i class='bx bxs-envelope icon'></i>
                <p class="logo_name">Почта РБ</p>
            </a>
            <i class='bx bx-menu' id="btn_nav_menu"></i>
        </div>

        <ul class="nav-list">
            @if (User.IsInRole("Администратор") || User.IsInRole("Директор"))
            {
                <li id="area_users">
                    <a asp-controller="Worker" asp-action="List">
                        <i id="_users" class='bx bx-user'></i>
                        <span class="links_name">Сотрудники</span>
                    </a>
                    <span class="tooltip">Сотрудники</span>
                </li>
                <script>
                    document.getElementById('area_users').onmouseenter = function () {
                        document.getElementById('_users').classList.add('bx-tada');
                    }
                    document.getElementById('area_users').onmouseleave = function () {
                        document.getElementById('_users').classList.remove('bx-tada');
                    }
                </script>
            }
                <li id="area_operations">
                    <a href="#">
                        <i id="_operations" class='bx bx-plus-circle'></i>
                        <span class="links_name">Операции</span>
                    </a>
                    <span class="tooltip">Операции</span>
                </li>
                <script>
                    document.getElementById('area_operations').onmouseenter = function () {
                        document.getElementById('_operations').classList.add('bx-tada');
                    }
                    document.getElementById('area_operations').onmouseleave = function () {
                        document.getElementById('_operations').classList.remove('bx-tada');
                    }
                </script>
                <li id="area_products">
                    <a href="#">
                        <i id="_proudcts" class='bx bxs-component'></i>
                        <span class="links_name">Товары</span>
                    </a>
                    <span class="tooltip">Товары</span>
                </li>
                <script>
                    document.getElementById('area_products').onmouseenter = function () {
                        document.getElementById('_proudcts').classList.add('bx-tada');
                    }
                    document.getElementById('area_products').onmouseleave = function () {
                        document.getElementById('_proudcts').classList.remove('bx-tada');
                    }
                </script>

                <li class="profile">
                    <div class="profile-details">
                        @{
                            Worker user = AuthorizedUser.GetInstance().GetWorker();
                            <div class="name_job">
                                <div class="name">@user.LastName @user.FirstName</div>
                                <div class="job">@user.Position.PositionName</div>
                            </div>
                        }
                    </div>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button>
                            <i class='bx bx-log-out' id="log_out"></i>
                        </button>
                    </form>
                    <!-- <i class='bx bx-log-out' id="log_out" ></i> -->
                </li>

                <script>
                    document.getElementById('log_out').onmouseenter = function () {
                        document.getElementById('log_out').classList.remove('bx-log-out');
                        document.getElementById('log_out').classList.add('bxs-log-out');
                        document.getElementById('log_out').classList.add('bxs-log-out');
                    }
                    document.getElementById('log_out').onmouseleave = function () {
                        document.getElementById('log_out').classList.remove('bxs-log-out');
                        document.getElementById('log_out').classList.add('bx-log-out');
                    }
                </script>
            </ul>
    </div>
    <section class="home-section">
        <div class="text">
            @RenderBody()
        
        </div>
    </section>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn_nav_menu");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
        });

        searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
            sidebar.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
            }
        }
    </script>
</body>

@*<body style="height: max-content; background-color: rgb(242, 255, 255);">
    <header>
        <nav class="mx-auto navbar navbar-expand-lg navbar-light border-bottom " style="background-color: rgb(181, 234, 255); max-width: 1440px;">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Почта РБ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="list-group list-group-horizontal-lg " style="list-style: none;">
                    <li class="dropdown mx-3">
                        <a class="dropdown-toggle" type="button" id="dropdownMenuButtonStaff" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Сотрудники
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonStaff">
                            <a class="dropdown-item" asp-controller="Worker" asp-action="List">Список сотрудников</a>
                            <a class="dropdown-item" asp-controller="Position" asp-action="List">Должности</a>
                        </div>
                    </li>
                    @if (User.IsInRole("Администратор"))
                    {
                        <li class="mx-3 dropdown">
                            <a class="dropdown-toggle" type="button" id="dropdownMenuButtonOperation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Операция
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonOperation">
                                <a class="dropdown-item" asp-controller="Operation" asp-action="NewOperation">Новая операция</a>
                                <a class="dropdown-item" asp-controller="Operation" asp-action="List">Список операций</a>
                            </div>
                        </li>
                    }


                    <li class="mx-3 dropdown">
                        <a class="dropdown-toggle" type="button" id="dropdownMenuButtonOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Заказы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonOrder">
                            <a class="dropdown-item" href="#">Список заказов</a>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-xl-between float-right">
                @{
                    Worker user = AuthorizedUser.GetInstance().GetWorker();
                    <a>@user.LastName @user.FirstName (@user.Position.PositionName)</a>
                }

            <form method="post" asp-controller="Account" asp-action="Logout">
                <style>
                    .myHover {                        
                        background-color:transparent; 
                        color: #808080;
                    }
                    .myHover:hover {
                        color: black;
                    }
                </style>
                <input class="myHover border-0 ml-3" type="submit" value="Выход" />                
            </form>
            </div>
        </nav>
    </header>

    <main class="mx-auto bg-light" style="height: 845px; max-width: 1440px;">
        @RenderBody()
    </main>

    <footer class="mx-auto" style="max-width: 1440px; background-color: rgb(0, 103, 121); height: 70px;">
    </footer>

</body>*@
</html>
