@model Operation
@{
    Layout = "_Layout";
}

<div class="main_operation container-fluid">
    <form class="operation">
        <div class="operation_cont">
            <p class="addingWorkerPopup">Операция</p>
            <ul class="operation_cont_type">
                <li>
                    <a asp-controller="CompletedPayment" asp-action="Create" asp-route-operationId="@Model.Id">Продажа товара</a>
                    <div class="operation_table table-responsive">
                        <table class="content-table overflow-auto" id="myTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Наименование товара</th>
                                    <th>Цена 1 ед. товара</th>
                                    <th>Количество проданных</th>
                                    <th>Общая сумма</th>
                                    <th>Способ оплаты</th>
                                </tr>
                            </thead>
                            <tbody id="editClickbodyOperation">
                                @foreach (var el in Model.CompletedPayments)
                                {
                                    <tr class="rowEditStart">
                                        <th class="editId">
                                            @el.Id
                                        </th>
                                        <td>
                                            @el.AvailablePayment?.AvailablePaymentName
                                        </td>
                                        <td>
                                            @el.Price
                                        </td>
                                        <td>
                                            @el.PaymentMethod?.PaymentMethodName
                                        </td>                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <a asp-controller="DeliveryGood" asp-action="Create" asp-route-operationId="@Model.Id">Оформить доставку</a>
                    <div class="operation_table table-responsive">
                        <table class="content-table overflow-auto" id="myTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Наименование платежа</th>
                                    <th>Цена</th>
                                    <th>Способ оплаты</th>
                                </tr>
                            </thead>
                            <tbody id="editClickbodyOperation">
                                @foreach (var el in Model.CompletedPayments)
                                {
                                    <tr class="rowEditStart">
                                        <th class="editId">
                                            @el.Id
                                        </th>
                                        <td>
                                            @el.AvailablePayment?.AvailablePaymentName
                                        </td>
                                        <td>
                                            @el.Price
                                        </td>
                                        <td>
                                            @el.PaymentMethod?.PaymentMethodName
                                        </td>                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <a>Добавить доставку</a>
                    <div class="operation_table">

                    </div>
                </li>
                <li>
                    <a asp-controller="CompletedPayment" asp-action="Create" asp-route-operationId="@Model.Id">Выполнить платеж</a>
                    <div class="operation_table table-responsive">
                        <table class="content-table overflow-auto" id="myTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Наименование платежа</th>
                                    <th>Цена</th>
                                    <th>Способ оплаты</th>
                                </tr>
                            </thead>
                            <tbody id="editClickbodyOperation">
                                @foreach (var el in Model.CompletedPayments)
                                {
                                    <tr class="rowEditStart">
                                        <th class="editId">
                                            @el.Id
                                        </th>
                                        <td>
                                            @el.AvailablePayment?.AvailablePaymentName
                                        </td>
                                        <td>
                                            @el.Price
                                        </td>
                                        <td>
                                            @el.PaymentMethod?.PaymentMethodName
                                        </td>                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </li>

            </ul>
        </div>
    </form>
</div>

