@model MyKursach2.Models.Provider
@{
    Layout = "_Layout";
}

<script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<form class="popup" asp-controller="Provider" asp-action="Edit">
    <div class="popup-inner">
        <p class="addingWorkerPopup">Изменение поставщика</p>
        <ul class="popupinput">
            <li>
                <span>Поставщик*</span>
                <input type="hidden" name="Id" value="@Model.Id" />
                <input asp-for="Name" required type="text" placeholder="Введите поставщика" />
                @Html.ValidationMessageFor(model => model.Name, null, new { style = "color:red" })
            </li>
            <li>
                <span>Номер телефона*</span>
                <input required asp-for="PhoneNumber" type="text" placeholder="Введите номер телефона" />
                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { style = "color:red" })
            </li>
            <li>
                <span>Эл. почта</span>
                <input asp-for="Email" type="text" placeholder="Введите электронную почту" />
                @Html.ValidationMessageFor(model => model.Email, null, new { style = "color:red" })
            </li>



        </ul>
        <a type="button" asp-action="List" asp-controller="Provider" class="closepopup">X</a>
        <div class="popup_button">
            <button class="popupsubmit" type="submit">
                Сохранить
            </button>
               
            <a class="popupdelete" type="button" asp-action="Delete" asp-controller="Provider" asp-route-id=@Model.Id>Удалить</a>
                 
        </div>

    </div>
</form>

