@model MyKursach2.Models.DeliveryCountry
@{
    Layout = "_Layout";
}

<script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<form class="popup" asp-controller="DeliveryCountry" asp-action="Edit">
    <div class="popup-inner">
        <p class="addingWorkerPopup">Изменение страны</p>
        <ul class="popupinput">
            <li style="width:100%;">
                <span>Наименование страны*</span>
                <input type="hidden" name="Id" value="@Model.Id" />
                <input asp-for="DeliveryCountryName" required type="text" placeholder="Введите наименование страны" value="@Model.DeliveryCountryName" />
                @Html.ValidationMessageFor(model => model.DeliveryCountryName, null, new { style = "color:red" })
            </li>           
        </ul>
        <a type="button" asp-action="List" asp-controller="DeliveryCountry" class="closepopup">X</a>
        <div class="popup_button">
            <button class="popupsubmit" type="submit">
                Сохранить
            </button>                
            <a class="popupdelete" type="button" asp-action="Delete" asp-controller="DeliveryCountry" asp-route-id=@Model.Id>Удалить</a>            
        </div>
    </div>
</form>

