@model Worker
@{
    Layout = "_Layout";
}

<form class="popup" asp-controller="Worker" asp-action="Create">
    <div class="popup-inner">
        <p class="addingWorkerPopup">Добавление работника</p>
        <ul class="popupinput">
            <li>
                <span>Фамилия*</span>
                <input asp-for="LastName" required type="text" placeholder="Введите фамилию" />
                @Html.ValidationMessageFor(model => model.LastName, null, new { style = "color:red" })
            </li>
            <li>
                <span>Имя*</span>
                <input asp-for="FirstName" type="text" placeholder="Введите имя" />
                @Html.ValidationMessageFor(model => model.FirstName, null, new { style = "color:red" })
            </li>
            <li>
                <span>Отчество*</span>
                <input asp-for="MiddleName" type="text" placeholder="Введите отчество" />
                @Html.ValidationMessageFor(model => model.MiddleName, null, new { style = "color:red" })
            </li>
            <li>
                <span>Дата рождения*</span>
                <input required id="_dateofbirth" asp-for="DateOfBirth" type="date" placeholder="Дата рождения"/>
                @Html.ValidationMessageFor(model => model.DateOfBirth, null, new { style = "color:red" })
            </li>
            <li>
                <span>Электронная почта</span>
                <input asp-for="Email" type="text" placeholder="Введите Email" />
                @Html.ValidationMessageFor(model => model.Email, null, new { style = "color:red" })
            </li>
            <li>
                <span>Выберите группу пользователей*</span>
                <select asp-for="GroupUserId" asp-items="ViewBag.GroupUsers"></select>
                @Html.ValidationMessageFor(model => model.GroupUserId, null, new { style = "color:red" })
            </li>
            <li>
                <span>Выберите должность*</span>
                <select asp-for="PositionId" asp-items="ViewBag.Positions"></select>
                @Html.ValidationMessageFor(model => model.PositionId, null, new { style = "color:red" })
            </li>
            <li>
                <span>Номер телефона*</span>
                <input id="_phonenumber" asp-for="PhoneNumber" type="text" placeholder="Номер телефона" />
                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { style = "color:red" })
            </li>
            <li>
                <span>Введите пароль*</span>
                <input asp-for="Password" type="text" placeholder="Введите пароль" value="root" />
                @Html.ValidationMessageFor(model => model.Password, null, new { style = "color:red" })
            </li>


        </ul>
        <a type="button" asp-action="List" asp-controller="Worker" class="closepopup">X</a>
        <div class="popup_button">
            <button class="popupsubmit" type="submit">
                Создать
            </button>
            <button class="popupclear" type="reset">
                Очистить
            </button>
        </div>

    </div>
</form>
<script src="~/js/jquery.maskedinput.min.js"></script>
<script>
    $(document).ready(function () {
        $("#_phonenumber").mask("+375 (99) 999-99-99");
    });
</script>

